<!-- Product Cards Section -->
<section class="productSection section-margin">
  <div class="container">
    <div class="row">
      <div class="col flex product">
        <div>
          <img
            src="https://gaddzy.in/image/categoryMobile.png"
            alt="Mobile Phone"
          />
        </div>
        <div>
          <div class="product-title">Mobile Phones</div>
          <a href="" class="sell-link">Sell Now &rarr;</a>
        </div>
      </div>
      <div class="col flex product justify-content-around">
        <img src="https://gaddzy.in/image/tablet.png" alt="Tablet" />
        <div>
          <div class="product-title">Tablets</div>
          <a href="" class="sell-link">Sell Now &rarr;</a>
        </div>
      </div>
      <div class="col flex product justify-content-around">
        <img src="https://gaddzy.in/image/smartwatch.png" alt="Smartwatch" />
        <div>
          <div class="product-title">Smartwatch</div>
          <a href="" class="sell-link">Sell Now &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</section>
