
<section class="header-holder">
  <div class="container bg-gradient">
    <div class = "mb-4">
      <div class="d-flex justify-content-center">
        <p class="fw-bold fs-5 heading-text">How We Work?</p>
      </div>
      <div class="d-flex justify-content-center">
        <p class="fs-2 fw-bold">Simplifying Selling, Maximizing Value</p>
      </div>
    </div>
    <div class="d-flex container  gap-4">
      <div class="col">
        <div
          class="h-50 rounded-circle d-flex justify-content-center align-items-center mb"
        >
          <img  src="https://gaddzy.in/icon/typing.svg" alt="" />
        </div>

        <span
          ><p class="fw-bold text-center">Enter your mobile details</p>
          <p class="text-center">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
            veritatis.
          </p>
        </span>
      </div>
      <div class="col d-flex align-items-center">
        <img src="https://gaddzy.in/icon/arrow_down.svg" alt="" />
      </div>
      <div class="col">
        <div
          class="h-50 rounded-circle d-flex justify-content-center align-items-center mb"
        >
          <img class="img-pro" src="https://gaddzy.in/icon/payment.svg" alt="" />
        </div>

        <span
          ><p class="fw-bold text-center">Check price</p>
          <p class="text-center">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
            veritatis.
          </p>
        </span>
      </div>
      <div class="col d-flex align-items-center">
        <img src="https://gaddzy.in/icon/arrow_up.svg" alt="" />
      </div>
      <div class="col">
        <div
          class="h-50 rounded-circle d-flex justify-content-center align-items-center mb"
        >
          <img class="img-pro" src="https://gaddzy.in/icon/pickup.svg" alt="" />
        </div>

        <span
          ><p  class="fw-bold text-center">Schedule pickup</p>
          <p class="text-center">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
            veritatis.
          </p>
        </span>
      </div>
      <div class="col d-flex align-items-center">
        <img src="https://gaddzy.in/icon/arrow_down.svg" alt="" />
      </div>
      <div class="col">
        <div
          class="h-50 rounded-circle d-flex justify-content-center align-items-center mb"
        >
          <img  src="https://gaddzy.in/icon/verified.svg" alt="" />
        </div>
        <span 
          ><p  class="fw-bold text-center">Get paid</p>
          <p class="text-center">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
            veritatis.
          </p>
        </span>
      </div>
    </div>
  </div>
</section>
