.rounded-circle{
    background-color: #f9ebfd;
        width: 150px;
}

.img-pro{
    height: inherit;
    width : 80px;
}
.header-holder{
    margin: 80px 110px;
}
.heading-text{
    color: #690087;
}